@import "src/styles/variables";

.header {
  padding: 25px 0;
  color: #fff;
  background: $gray-darker;
}

.logo {
  margin: 0 25px 0 0;
  text-transform: lowercase;
  color: $primary;
  font-size: 30px;
  font-weight: 200;
}

.container {
  display: flex;
  align-items: center;
}

.button {
  margin-left: auto;
}
