@import "src/styles/variables";
@import "src/styles/mixins";

.item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 15px;
  padding: 10px;
  transition: all .2s ease-out;
  letter-spacing: -.2px;
  border: 1px solid $gray;
  border-radius: $border-radius;
  outline: none;
  background: #fff;
  font-family: $font-headings;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;

  appearance: none;

  &:hover {
    cursor: pointer;
    border-color: $brand-primary;
    background: $gray;
  }
}

.isEmpty {
  opacity: .5;
}

.badge {
  @include badge;
  margin-left: auto;
}
